@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  body{
    color:"#024CAA";
    background-color: "#DDDDDD";


  }
}
@layer components {
  .menuLink {
 @apply cursor-pointer
  hover:text-[#E11299];
  }
}